<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ .Site.Params.description }}">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Posts</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
  
  {{ block "main" . }}{{ end }}
</body>
</html>